{% extends 'main/base.html' %}
{% block title %}Exercise Diary{% endblock %}
{% block content %}
<form method="post" action="/exerciseDiary" id="exercise-diary-form", class="form-container">
    {% csrf_token %}{{form.as_p}}
    <button type="submit" name="save">Go</button>
</form>
<table style="width:100%; text-align:center">
    <tr>
      <th>Exercise</th>
      <th>Body Part</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>reps</th>
      <th>Date and Time</th>
      <th>
        {% if form.cleaned_data.date %}
          <a href="{% url 'add_exercise_with_date' date=form.cleaned_data.date %}" class="btn btn-success">Add Exercise Entry</a>
        {% endif %}
      </th>
    </tr>
    {% for exercise in todaysExercises %}
    <tr>
      <td>{{exercise.name}}</td>
      <td>{{exercise.muscle}}</td>
      <td>{{exercise.weight}}</td>
      <td>{{exercise.sets}}</td>
      <td>{{exercise.reps}}</td>
      <td>{{exercise.created_at}}</td>
      <td>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="delete-form">
            <button type="submit" class="btn btn-danger" name="exercise-id" value="{{exercise.id}}">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
</table>

<script>

document.addEventListener('DOMContentLoaded', function() {
    // Retrieve the selected date from sessionStorage
    var selectedDate = sessionStorage.getItem('selectedDate');
    if (selectedDate) {
        var formattedDate = selectedDate.split('/').reverse().join('-');
        document.getElementById('id_date').value = formattedDate;
        // Clear the selected date from sessionStorage
        sessionStorage.removeItem('selectedDate');
        // Submit the form
        document.getElementById('exercise-diary-form').submit();
    }
});


</script>
{% endblock %}